@model D72TP1P3.Models.DataModels.Actor

<div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
    <div class="card">
        <img class="card-img-top mx-auto rounded" style="max-width:250px;max-height:375px;min-width:250px;min-height:375px;" src="@Model.Image" alt="@Model.Name">
        <div class="card-body text-center">
            <h5 class="card-title">@Model.Name</h5>
            @Html.ActionLink(linkText: "Edit", actionName: "Edit", controllerName: "Actors", routeValues: new { area = "Gestion", id = Model.ActorId }, htmlAttributes: new { @class = "btn btn-primary" })
            @Html.ActionLink(linkText: "Delete", actionName: "Delete", controllerName: "Actors", routeValues: new { area = "Gestion", id = Model.ActorId }, htmlAttributes: new { @class = "btn btn-danger" })
        </div>
    </div>
</div>