@model D72TP1P3.Models.DataModels.Episode

<div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
    <div class="card">
        <a href="/Library/Episode?EpisodeId=@Model.EpisodeId">
            <img class="card-img-top mx-auto rounded" src="@Model.Image" alt="@Model.Number">
        </a>
        <div class="card-body text-center">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-footer text-center text-muted">@D72TP1P3.Resources.Views.StringsViews.Episode @Model.Number</p>
        </div>
    </div>
    <br />
    <br />
</div>



