
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <a class="navbar-brand" href="/">@D72TP1P3.Resources.Views.StringsViews.SiteName</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            @if (!User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Users/Login">@D72TP1P3.Resources.Views.StringsViews.Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Users/SignUp">@D72TP1P3.Resources.Views.StringsViews.SignUp</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Library/Index">@D72TP1P3.Resources.Views.StringsViews.Library</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Users/Edit">@D72TP1P3.Resources.Views.StringsViews.Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Users/Logout">@D72TP1P3.Resources.Views.StringsViews.Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Users/Favorites">@D72TP1P3.Resources.Views.StringsViews.FavoriteShows</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Users/History">@D72TP1P3.Resources.Views.StringsViews.History</a>
                </li>
            }
        </ul>

        <ul class="navbar-nav ml-auto">
            @if (System.Threading.Thread.CurrentThread.CurrentCulture.Name == "en")
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Home/ChangeLanguage?lang=fr">fr</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Home/ChangeLanguage?lang=en">en</a>
                </li>
            }
        </ul>

    </div>
</nav>